## Case 1 Penghasilan Pegawai

###1A.
Buatlah sebuah fungsi penghasilan_pegawai yang dapat menampung input dari user yang berisi apakah user merupakan pegawai Tetap / Kontrak dan berapa jumlah jam lembur yang dilakukan oleh user.

ðŸ”½ Ketika program dijalankan, akan menghasilkan ðŸ”½
 Kategori Pegawai (Tetap/Kontrak) :
 Berapa jam lembur :

In [ ]:
def penghasilan_pegawai(kategori_pegawai, jam_lembur):
    print(f"Kategori Pegawai : {kategori_pegawai}")
    print(f"Jam lembur : {jam_lembur}")

In [ ]:
#memanggil fungsi
penghasilan_pegawai("Tetap", 5)

###1B.
Selanjutnya, kembangkanlah fungsi tersebut agar fungsi dapat menghitung besaran jumlah penghasilan yang didapat pegawai beserta jumlah tambahan penghasilan lemburnya, jika :

Input yang diberikan user adalah pegawai tetap, maka fungsi akan menghitung besaran penghasilan yang diterima pegawai tetap beserta jumlah kerja lemburnya, begitupun untuk pegawai kontrak.
Penghasilan pegawai tetap sebesar Rp. 4.500.000 dan penghasilan pegawai kontrak 70% dari penghasilan pegawai tetap.
Penghasilan tambahan yang bisa didapat dari kerja lembur untuk pegawai tetap adalah Rp. 50.000/jam dan untuk pegawai kontrak Rp. 30.000/jam.
Dalam sebulan, seorang pegawai dapat melakukan kerja lembur sebanyak 20 kali. Apabila lebih dari 20 kali, maka penghasilan tambahan yang didapat tetap dihitung tetap sebanyak 20 kali kerja lembur.
Pegawai Tetap	Pegawai Kontrak
Penghasilan tetap perbulan	Rp. 4.500.000	70% dari Pegawai tetap
Penghasilan tambahan lembur per jam (maks 20 jam)	Rp. 50.000	Rp. 30.000
Keterangan :
 - Anda dapat memanfaatkan branching untuk mengembangkan fungsi.
 - Untuk meminimalisir terjadinya error, ketika user input kategori selain tetap dan kontrak, maka program akan menampilkan â€œKategori yang anda masukkan salah.â€
 - Ketika user input kategori jam lembur bernilai negatif, maka program akan menampilkan â€œJam lembur tidak boleh negatif.â€

ðŸ”½ Contoh output yang diharapkan ðŸ”½
  Kategori Pegawai (Tetap/Kontrak) : tetap
  Berapa jam lembur : 3

  Total gaji lembur : Rp. 150000
  Pendapatan : Rp. 4650000

![image.png]()

In [ ]:
def penghasilan_pegawai(kategori_pegawai, jam_lembur):
  gaji_tetap = 4500000

  if (kategori_pegawai == "Tetap" or kategori_pegawai == "Tetap"):
    if (jam_lembur > 0 and jam_lembur <= 20) :
      print(f"Kategori Pegawai adalah {kategori_pegawai}")
      print(f"Gaji Tetap adalah {gaji_tetap}")
      print(f"Jam Lembur adalah {jam_lembur}")
      print(f"Gaji Lembur adalah {jam_lembur*50000}")
      print(f"Total Pendapatan adalah {gaji_tetap+(jam_lembur*50000)}")

    elif (jam_lembur > 20):
      print(f"Kategori Pegawai adalah {kategori_pegawai}")
      print(f"Gaji Tetap adalah {gaji_tetap}")
      print(f"Jam Lembur adalah {20}")
      print(f"Gaji Lembur adalah {20*50000}")
      print(f"Total Pendapatan adalah {gaji_tetap+(20*50000)}")

    else:
      print("jam lembur tidak boleh negatif")

  elif (kategori_pegawai == "Kontrak" or kategori_pegawai == "kontrak"):
    gaji_tetap = gaji_tetap * 0.75
    if (jam_lembur > 0 and jam_lembur <= 20) :
      gaji_lembur = jam_lembur * 30000
      Total = gaji_tetap + gaji_lembur
      print(f"Kategori Pegawai adalah {kategori_pegawai}")
      print(f"Gaji Tetap adalah {gaji_tetap*0.75}")
      print(f"Jam Lembur adalah {jam_lembur}")
      print(f"Gaji Lembur adalah {jam_lembur*30000}")
      print(f"Total Pendapatan adalah {Total}")

    elif (jam_lembur > 20):
      gaji_lembur = 20 * 30000
      Total = gaji_tetap + gaji_lembur
      print(f"Kategori Pegawai adalah {kategori_pegawai}")
      print(f"Gaji Tetap adalah {gaji_tetap}")
      print(f"Jam Lembur adalah {20}")
      print(f"Gaji Lembur adalah {gaji_lembur}")
      print(f"Total Pendapatan adalah {Total}")

    else:
      print("jam lembur tidak boleh negatif")

  else:
    print("input kategori pegawai salah")

In [ ]:
penghasilan_pegawai("Tetap", 1)

Kategori Pegawai adalah Tetap
Gaji Tetap adalah 4500000
Jam Lembur adalah 1
Gaji Lembur adalah 50000
Total Pendapatan adalah4550000

###1C.
Setelah anda selesai membuat fungsi penghasilan_pegawai, ternyata anda diberitahu bahwa penghasilan yang diterima pegawai dalam sebulan akan di potong pajak sebesar 1% dari total penghasilan yang diterima selama sebulan.

Oleh karena itu, anda diminta untuk menambahkan perhitungan yang dapat menghitung penghasilan yang diterima pegawai setelah dipotong pajak.

In [ ]:
def penghasilan_pegawai(kategori_pegawai, jam_lembur):
  gaji_tetap = 4500000

  if (kategori_pegawai == "Tetap" or kategori_pegawai == "Tetap"):

    if (jam_lembur > 0 and jam_lembur <= 20) :
      gaji_lembur = jam_lembur * 50000
      Total = gaji_tetap + gaji_lembur
      pajak = Total * 0.01
      Pendapatan_setelah_pajak = Total-pajak
      print(f"Kategori Pegawai adalah {kategori_pegawai}")
      print(f"Gaji Tetap adalah {gaji_tetap}")
      print(f"Jam Lembur adalah {jam_lembur}")
      print(f"Gaji Lembur adalah {gaji_lembur}")
      print(f"Total Pendapatan adalah {Total}")
      print(f"Pajak Penghasilan adalah {pajak}")
      print(f"Penghasilan setelah pajak adalah {Pendapatan_setelah_pajak} ")



    elif (jam_lembur > 20):
      gaji_lembur = 20 * 50000
      Total = gaji_tetap + gaji_lembur
      pajak = Total * 0.01
      Pendapatan_setelah_pajak = Total-pajak
      print(f"Kategori Pegawai adalah {kategori_pegawai}")
      print(f"Gaji Tetap adalah {gaji_tetap}")
      print(f"Jam Lembur adalah {20}")
      print(f"Gaji Lembur adalah {20*50000}")
      print(f"Total Pendapatan adalah {Total}")
      print(f"Pajak Penghasilan adalah {pajak}")
      print(f"Penghasilan setelah pajak adalah {Pendapatan_setelah_pajak} ")

    else:
      print("jam lembur tidak boleh negatif")

  elif (kategori_pegawai == "Kontrak" or kategori_pegawai == "kontrak"):
    gaji_tetap = gaji_tetap * 0.75

    if (jam_lembur > 0 and jam_lembur <= 20) :
      gaji_lembur = jam_lembur * 30000
      Total = gaji_tetap + gaji_lembur
      pajak = Total * 0.01
      Pendapatan_setelah_pajak = Total-pajak
      print(f"Kategori Pegawai adalah {kategori_pegawai}")
      print(f"Gaji Tetap adalah {gaji_tetap*0.75}")
      print(f"Jam Lembur adalah {jam_lembur}")
      print(f"Gaji Lembur adalah {jam_lembur*30000}")
      print(f"Total Pendapatan adalah {Total}")
      print(f"Pajak Penghasilan adalah {pajak}")
      print(f"Penghasilan setelah pajak adalah {Pendapatan_setelah_pajak} ")

    elif (jam_lembur > 20):
      gaji_lembur = 20 * 30000
      Total = gaji_tetap + gaji_lembur
      pajak = Total * 0.01
      Pendapatan_setelah_pajak = Total-pajak
      print(f"Kategori Pegawai adalah {kategori_pegawai}")
      print(f"Gaji Tetap adalah {gaji_tetap}")
      print(f"Jam Lembur adalah {20}")
      print(f"Gaji Lembur adalah {gaji_lembur}")
      print(f"Total Pendapatan adalah {Total}")
      print(f"Pajak Penghasilan adalah {pajak}")
      print(f"Penghasilan setelah pajak adalah {Pendapatan_setelah_pajak} ")

    else:
      print("jam lembur tidak boleh negatif")

  else:
    print("input kategori pegawai salah")

In [ ]:
penghasilan_pegawai("Tetap", 1)

Kategori Pegawai adalah Tetap
Gaji Tetap adalah 4500000
Jam Lembur adalah 1
Gaji Lembur adalah 50000
Total Pendapatan adalah 4550000
Pajak Penghasilan adalah 45500.0
Penghasilan setelah pajak adalah 4504500.0

##Case 2 : Perhitungan ratio
Dalam suatu program perhitungan geometri yang akan dibangun programmer, terdapat sebuah list yang berisikan nilai integer

2A.
Buatlah list sebuah yang berisikan nilai Nilai : 10, 8, 6, 4, 2, 0, -2, -4.

In [ ]:
list_1 = [10, 8, 6, 4, 2, 0, -2, -4]

2B.
Kemudian, agar program dapat melakukan perhitungan ratio, maka dibuatlah fungsi baru yang dapat menghitung ratio dari jumlah bilangan positif, negatif dan nol terhadap banyaknya elemen yang ada di dalam list, dengan ketelitian hingga 3 angka di belakang koma.

In [ ]:
def hitung_ratio(list_ratio):
  jumlah_positif = 0
  jumlah_negatif = 0
  jumlah_nol = 0
  for i in list_ratio :
    if i > 0 :
      jumlah_positif +=1

    elif i < 0 :
      jumlah_negatif +=1

    else :
      jumlah_nol += 1

  ratio_positif = jumlah_positif/len(list_1)
  ratio_negatif = jumlah_negatif/len(list_1)
  ratio_nol = jumlah_nol/len(list_1)

  print(f"ratio_positif adalah {ratio_positif}")
  print(f"ratio_negatif adalah {ratio_negatif}")
  print(f"ratio_nol adalah {ratio_nol}")

In [ ]:
hitung_ratio(list_1)

ratio_positif adalah 0.625
ratio_negatif adalah 0.25
ratio_nol adalah 0.125

In [ ]:
jumlah_positif = 0
jumlah_negatif = 0
jumlah_nol = 0
for i in list_1 :
  if i > 0 :
    jumlah_positif +=1

  elif i < 0 :
    jumlah_negatif +=1

  else :
    jumlah_nol += 1

ratio_positif = jumlah_positif/len(list_1)
ratio_negatif = jumlah_negatif/len(list_1)
ratio_nol = jumlah_nol/len(list_1)

print(ratio_positif)
print(ratio_negatif)
print(ratio_nol)

## Case 3 : Perhitungan produk yang dibeli setelah dipotong diskon
Sebuah platform belanja online sedang mengadakan promo akhir tahun dengan memberikan voucher diskon 40% untuk setiap total produk yang dibeli.

### 3A.
Untuk itu, sebagai karyawan dari divisi IT, anda diminta membuat sebuah fungsi sederhana yang dapat menghitung harga yang harus dibayarkan setelah dipotong voucher diskon.

Seorang pelanggan dapat membeli produk lebih dari 1. Karena setiap pelanggan pembeliannya berbeda-beda (tidak dapat diketahui jumlah pastinya), disarankan fungsi dibangun dengan jumlah parameter yang bisa diisi berapa pun.

Keterangan :
 - Input yang dimasukkan adalah harga-harga dari produk yang dibeli

In [ ]:
def harga_belanjaan(*daftar_harga):
  total_harga = 0
  for i in daftar_harga :
    total_harga += i

  total_harga = int(total_harga - (total_harga*0.40))
  print(f"harga yang harus dibayarkan adalah : {total_harga}")

In [ ]:
harga_belanjaan(100000, 30000, 700000, 150000)

harga yang harus dibayarkan adalah : 588000

###3B.
Panggil fungsi tersebut! terdapat rincian harga-harga produk yang dibeli dari seorang pelanggan : Rp. 200000 + Rp. 300000 + Rp. 400000 + Rp. 500000 + Rp. 600000 + Rp.700000. Berapakah hasil yang dikeluarkan oleh fungsi?

ðŸ”½ Contoh output yang diharapkan ðŸ”½
  Harga akhir yang dibayarkan :
  1485000

In [ ]:
harga_belanjaan(200000, 300000, 400000, 500000, 600000, 700000)

harga yang harus dibayarkan adalah : 1620000

##Case 4 : Laporan penjualan
Dari program laporan penjualan sebuah startup, terdapat fungsi perhitungan harga pokok penjualan (pph) suatu produk.

### 4A.
Dari fungsi diatas, buatlah docstring untuk mempermudah user memahami kode program.

In [ ]:
def harga_pokok(beli_bersih, stok_awal, stok_akhir):
  ''' fungsi untuk menghitung harga pokok'''

    hpp = beli_bersih + stok_awal - stok_akhir
    return hpp

###4B.
Kemudian, setelah di review. Atasan menyarankan anda untuk mengonversi fungsi harga_pokok kedalam bentuk lambda agar menjadi lebih sederhana

In [ ]:
#Contoh fungsi lambda
profit = lambda pendapatan, pengeluaran: pendapatan - pengeluaran

In [ ]:
hpp = lambda beli_bersih, stok_awal, stok_akhir : beli_bersih + stok_awal - stok_akhir

### 4C.
Setelah fungsi lambda berhasil dibuat, panggil fungsi tersebut dengan nilai input :

pembelian bersih : 500000
stok produk di awal : 300000
stok produk di akhir : 200000

In [ ]:
hpp(500000, 300000, 200000)

600000

## Case 5 : Daftar pegawai
Sebuah perusahaan A baru saja menerima beberapa pegawai baru beserta asal kota pegawai baru tersebut.

### 5A.
Karena pegawai baru akan ditambah sewaktu waktu, jadi atasan meminta anda untuk membuat suatu fungsi yang dapat menampilkan nama dan asal kota pegawai baru tanpa batasan nilai jumlah argumen yang diinputkan

Catatan :
  - Karena diminta untuk menampilkan pasangan nama dan asal kota, anda dapat memanfaatkan arbitrary arguments keyword argument.
  - Anda dapat memanfaatkan looping untuk mengembangkan fungsi.

In [ ]:
def daftar_karyawan(**kwargs):
  for key, values in kwargs.items():
    print(f"{key} berasal dari kota {values}")

###5B.
Kemudian, selang beberapa hari. Atasan memberikan daftar pegawai baru yang diterima diperusahaan

Nama Karyawan	Asal Kota
Irsyaad	Bekasi
Chaidar	Ternate
Dwita	Bali
Fikria	Malang
Nurhaliza	Yogyakarta
Panggil fungsi yang sudah dibuat sebelumnya, dengan nilai input nama dan asal kota berdasarkan data yang diberikan oleh atasan.

ðŸ”½ Contoh output yang diharapkan ðŸ”½
  Irsyaad Berasal dari Kota Bekasi
  Chaidar Berasal dari Kota Ternate
  Dwita Berasal dari Kota Bali
  Fikria Berasal dari Kota Malang
  Nurhaliza Berasal dari Kota Yogyakarta

Nama Karyawan	Asal Kota
Irsyaad	Bekasi
Chaidar	Ternate
Dwita	Bali
Fikria	Malang
Nurhaliza	Yogyakarta

In [ ]:
daftar_karyawan(Irsyaad="Bekasi", Chaidar="Ternate", Dwita = "Bali", Fikria="Malang",Nurhaliza="Yogyakarta" )

Irsyaad berasal dari kota Bekasi
Chaidar berasal dari kota Ternate
Dwita berasal dari kota Bali
Fikria berasal dari kota Malang
Nurhaliza berasal dari kota Yogyakarta

#Function 2

## Case 1 : Perhitungan Bangun Ruang

Buatlah modul lingkaran dengan nama lingkaran.py yang berisi fungsi perhitungan luas lingkaran dan fungsi perhitungan keliling lingkaran.

Ketika nantinya fungsi dipanggil, user akan diminta memasukkan nilai jari-jari, selanjutnya dari input jari-jari tersebut fungsi akan melakukan perhitungan bangun ruang lingkaran.

Kemudian simpan modul tersebut agar nantinya dapat digunakan kembali.

Catatan :
 - Anda dapat menggunakan input() agar user dapat memasukkan nilai jari-jari.
 - Rumus luas lingkaran = phi x jari-jari lingkaran x jari-jari lingkaran
 - Rumus keliling lingkaran = 2 x phi x jari-jari lingkaran
 - Selain itu, nda dapat memanfaatkan module math yang merupakan module bawaan python untuk menginisialisasi phi tanpa harus mendefinisikannya secara manual.
 - Untuk mengimpor dan mengakses module math dan fungsi phi, anda dapat mengimplementasikan materi import yang sebelumnya dibahas di pertemuan 8
 - Gunakan return untuk menyimpan nilai.

In [ ]:
def luas_lingkaran():
  r = int(input(("masukkan jari-jari lingkaran: ")))
  luas = 3.14*(r**2)

  return luas

def keliling_lingkaran():
  r = int(input(("masukkan jari-jari lingkaran: ")))
  keliling = 2 * 3.14 * r

  return keliling

In [ ]:
luas_lingkaran()
keliling_lingkaran()

masukkan jari-jari lingkaran: 7
masukkan jari-jari lingkaran: 7

43.96

# Exercises: Day 11

###1. Declare a function add_two_numbers. It takes two parameters and it returns a sum.

In [ ]:
def add_two(a,b):
  total = a + b

  return total

In [ ]:
add_two(1,2)

3

### 2. Area of a circle is calculated as follows: area = Ï€ x r x r. Write a function that calculates area_of_circle.

In [ ]:
def area_of_circles(r):
  phi = 22/7
  area = phi * r * r

  return area

In [ ]:
area_of_circles(7)

154.0

### 3.
Write a function called add_all_nums which takes arbitrary number of arguments and sums all the arguments. Check if all the list items are number types. If not do give a reasonable feedback.

In [ ]:
def add_all_nums(*nums):
  total_nums = 0

  if all(isinstance(i, (int, float)) for i in nums):

    return sum(nums)
  else :
    print("invalid value(s)")

In [ ]:
add_all_nums(1,2,3,4,5,6)

21

###4.
Temperature in Â°C can be converted to Â°F using this formula: Â°F = (Â°C x 9/5) + 32. Write a function which converts Â°C to Â°F, convert_celsius_to-fahrenheit.

In [ ]:
def convert_celcius_to_fahrenheit(c):
  fahrenheit = (c * 9/5) + 32

  return fahrenheit

In [ ]:
convert_celcius_to_fahrenheit(30)

86.0

###5
Write a function called check-season, it takes a month parameter and returns the season: Autumn, Winter, Spring or Summer.

In [ ]:
def check_season(month):
  if month == 'january' or month == 'february' or  month == 'march' :
    season = 'Autumn'
    return season

  elif month == 'april' or month == 'may' or  month == 'june' :
    season = "Winter"
    return season

  elif month == 'july' or month == 'august' or  month == 'sept' :
    season = "Spring"
    return season

  else:
    season = "Summer"
    return season

In [ ]:
check_season('january')

'Autumn'

###6
Write a function called calculate_slope which return the slope of a linear equation

In [ ]:
def calculate_slope(x1,x2,y1,y2):
  gradien = (y2-y1)/(x2-x1)

  return gradien

In [ ]:
calculate_slope(10,20,20,40)

2.0

###7.
Quadratic equation is calculated as follows: axÂ² + bx + c = 0. Write a function which calculates solution set of a quadratic equation, solve_quadratic_eqn.

In [ ]:
def solve_quadratic_eqn(a,b,c):
  x1 = (-b + ((b**2-4*a*c)**0.5))/2*a
  x2 = (-b - ((b**2-4*a*c)**0.5))/2*a

  return x1, x2

In [ ]:
solve_quadratic_eqn(1,2,3)

(-0.9999999999999999+1.4142135623730951j)

### 8.
Declare a function named print_list. It takes a list as a parameter and it prints out each element of the list.

In [ ]:
def print_list(list_area):
  for i in list_area:
    print(i)

In [ ]:
list_1 = [1,2,3,4,5,6,7]

print_list(list_1)

1
2
3
4
5
6
7

### 9.
Declare a function named reverse_list. It takes an array as a parameter and it returns the reverse of the array (use loops).

In [ ]:
def reverse_list(list_area):
  new_list=[]
  for i in range(len(list_area)-1,-1,-1):
    new_list.append(list_area[i])

  return new_list

In [ ]:
list_1 = ['a','b','c']
reverse_list(list_1)

['c', 'b', 'a']

### 10.
Declare a function named capitalize_list_items. It takes a list as a parameter and it returns a capitalized list of items

In [ ]:
def capitalize_list_item(list_area):
  for i in list_area:
    print(i.capitalize())

In [ ]:
list_1 = ['a','b','c']
capitalize_list_item(list_1)

A
B
C

###11.
Declare a function named add_item. It takes a list and an item parameters. It returns a list with the item added at the end.

In [ ]:
def add_item(list_item, item):
  list_new = []
  for i in list_item :
    list_new.append(i)

  list_new.append(item)

  return list_new

In [ ]:
food_staff = ['Potato', 'Tomato', 'Mango', 'Milk']
add_item(food_staff, 'Banana')

['Potato', 'Tomato', 'Mango', 'Milk', 'Banana']

### 12.
Declare a function named remove_item. It takes a list and an item parameters. It returns a list with the item removed from it.

In [ ]:
def remove_item(list_item, item):
  for i in list_item :
    if i == item :
      list_item.remove(i)

  return list_item

In [ ]:
food_staff = ['Potato', 'Tomato', 'Mango', 'Milk'];
remove_item(food_staff, 'Mango')

['Potato', 'Tomato', 'Milk']

### 13
Declare a function named sum_of_numbers. It takes a number parameter and it adds all the numbers in that range.

In [ ]:
def sum_of_numbers(num):
  sum_num = 0
  for i in range(num+1):
    sum_num += i

  return(sum_num)

In [ ]:
sum_of_numbers(5)
sum_of_numbers(100)

5050

### 14.
Declare a function named sum_of_odds. It takes a number parameter and it adds all the odd numbers in that range.

In [ ]:
def sum_of_odds(num):
  sum_odd = 0
  for i in range(num+1):
    if i % 2 != 0:
      sum_odd += i
  return sum_odd

In [ ]:
sum_of_odds(6)

9

### 15.
Declare a function named sum_of_even It takes a number parameter and it adds all the even numbers in that range.

In [ ]:
def sum_of_even(num):
  sum_even = 0
  for i in range(num+1):
    if i % 2 == 0:
      sum_even += i
  return sum_even

In [ ]:
sum_of_even(100)

2550

### 16.
Declare a function named evens_and_odds . It takes a positive integer as parameter and it counts number of evens and odds in the number.

In [ ]:
def evens_and_odds(num):
  sum_odd = 0
  sum_even = 0

  for i in range(num+1):
    if i % 2 == 0:
      sum_even +=1

    elif i % 2 != 0:
      sum_odd += 1

  print(f"total of even number is {sum_even}")
  print(f"total of odd number is {sum_odd}")

In [ ]:
evens_and_odds(100)

total of even number is 51
total of odd number is 50

### 17.
Call your function factorial, it takes a whole number as a parameter and it return a factorial of the number

In [ ]:
def factorial(num):
  factorial = 0
  for i in range(num+1):
    factorial += i

  return factorial

In [ ]:
factorial(5)

15

### 18.
Call your function is_empty, it takes a parameter and it checks if it is empty or not

In [ ]:
def is_empty(param):
  if not param:
    return True

  else :
    return False

In [ ]:
is_empty("a")

False

### 19
Write different functions which take lists. They should calculate_mean, calculate_median, calculate_mode, calculate_range, calculate_variance, calculate_std (standard deviation).

In [ ]:
list_a = [10,9,8,7,6,5,4,3,2,1]

In [ ]:
list_a.sort()
list_a
int(len(list_a)/2)

5

In [ ]:
def calculate_mean(list_range):
  total = 0
  for i in list_range:
    total += i
  mean = total/len(list_range)

  return mean

In [ ]:
calculate_mean(list_a)

5.5

In [ ]:
len(list_a)
len(list_a)/2
int((len(list_a)+1)/2)

5

In [ ]:
def calculate_median(list_range):

  list_range.sort()
  if len(list_range) % 2 == 0:
    x = list_range[int((len(list_range)/2)-1)]
    y = list_range[int(len(list_range)/2)]
    median_even = (x+y)/2

    return median_even

  elif len(list_range) % 2 != 0:
    median_odd = list_range[int((len(list_range)-1)/2)]

    return median_odd

In [ ]:
list_a = [10,9,8,7,6,5,4,3,2,1]
list_b = [11,10,9,8,7,13,5,4,3,2,1]
list_c = [11,9,9,8,7,13,5,5,3,1,1,1,1]

In [ ]:
calculate_median(list_a)

5.5

In [ ]:
calculate_median(list_b)

7

In [ ]:
from IPython.core.completer import keyword
def calculate_mode(list_range):
  list_dict = {}
  for i in list_range:
    if i in list_dict :
      list_dict[i] += 1
    else:
      list_dict[i] = 1
  return list_dict

In [ ]:

def calculate_mode1(list_range):
  list_dict = {}
  for i in list_range:
    if i in list_dict :
      list_dict[i] += 1
    else:
      list_dict[i] = 1

  max_val = max((list_dict.values()))

  for key in list_dict.keys():
    if list_dict[key] == max_val:
      print(key)

In [ ]:
calculate_mode(list_c)

{11: 1, 9: 2, 8: 1, 7: 1, 13: 1, 5: 2, 3: 1, 1: 4}

In [ ]:
calculate_mode1(list_c)

1

In [ ]:
def ranges(list_range):
  list_range.sort()
  first_num = list_range[0]
  last_num = list_range[-1]

  ranges = last_num-first_num

  return ranges

In [ ]:
ranges(list_a)

9

In [ ]:
def cal_variance(list_range):
  total = 0
  square_ =0

  for i in list_range:
    total += i
    mean = total/len(list_range)

  for i in list_range:
    square_ += (i-mean)**2
    variance = square_/len(list_range)


  return variance

In [ ]:
cal_variance(list_a)

8.25

In [ ]:
def std_deviation(list_range):
  total = 0
  square_ =0

  for i in list_range:
    total += i
    mean = total/len(list_range)

  for i in list_range:
    square_ += (i-mean)**2
    variance = square_/len(list_range)

    std_deviation = variance ** 1/2


  return std_deviation

In [ ]:
std_deviation(list_a)

4.125

### 20
1. Write a function called is_prime, which checks if a number is prime.
2. Write a functions which checks if all items are unique in the list.
3. Write a function which checks if all the items of the list are of the same data type.
4. Write a function which check if provided variable is a valid python variable

In [ ]:
def is_prime(num):
  if (num > 1 and num %2 != 0) or num == 2:
    print(f"{num} adalah bilangan prima")

  else :
    print(f"{num} bukan bilangan prima")

In [ ]:
is_prime(2)

2 adalah bilangan prima

In [9]:
def are_unique(num_list):
  list_new = []
  for i in num_list:
    if i not in list_new:
      list_new.append(i)

  if len(num_list) == len(list_new):
    print('unique')

  else:
    print('not unique')

In [10]:
num_list = [1,2,3]

In [11]:
are_unique(num_list)

unique

In [13]:
nul_list = [1,2,3,'a']

In [14]:
same_dtype(nul_list)

not unique

In [39]:
x = [1,1,2,3]

In [40]:
def same_dtype(x):
  list_dtype = []
  for i in x:
    if type(i) not in list_dtype:
      list_dtype.append((type(i)))

  if len(list_dtype) == 1:
     print('same dtype')

  else:
     print('not same dtype')

In [41]:
same_dtype(x)

same dtype

In [ ]:
url = 'https://www.kaggle.com/code/houssnachana/detecting-phising-urls/notebook'

In [ ]:
from urllib.parse import urlparse

In [ ]:
import re

In [ ]:
hostname = urlparse(url).hostname

In [ ]:
hostname

In [ ]:
match = re.search(hostname, url)
match